@import "config";


body {
    color: $gray2;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 60px;
    text-align: center;
    max-width: 1200px;
    background-image: url('../images/newback.jpg');
    background-position: -240px 0;
    background-size: 200%;

    margin:auto;
    @include respond-to(xs){
        text-align: left;
    }

}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#reel{
    margin-bottom: 1em;
}

#hero {
    height:720px;
    background-color: gray;
    padding: 12% 1em 0;
    background-image: url('../images/hero.jpg');
    background-position: center;
    background-size: 100%;

    h1{
        color:white;
        font-weight: bold;
        font-size: 300%;
        text-align: center;
        text-shadow: 4px 4px 4px black;
    }

    @include respond-to(md){
        height: 580px;
        h1{
            font-size: 250%;
        }
    }
    @include respond-to(sm){
        
        height: 420px;
        h1{
            font-size: 200%;
        }
    }
    @include respond-to(xs){
        background-size: auto;
        height: 400px;
        h1{
            font-size: 160%;
        }
    }

}

p.subheader{
    font-size: 120%;
    text-align: center;
    color: white;
    line-height: 24px;
    text-shadow: 2px 2px 2px black;
    @include respond-to(lg){
        font-size: 160%;
        text-shadow: 4px 4px 2px black;
    }
}




h2{
    font-size: 220%;
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    @include respond-to(xs){
        font-size: 120%;
        text-align: left;
        font-weight: 600;
    }
}

.slide {
    background-color: $gray6;
    padding: 2em 5em 4em;
    border-width: 0 0 2px 0;
    border-color: $gray4;
    border-style: solid;
    @include respond-to(xs){
        padding: 1em 1em 2em;
    }
}

.slide-odd{
    background-color: $gray6;
}
.slide-even{
    background-color: $gray5;
}

.btn-contact{
    font-size: 220%;
    text-decoration: none;
    display: block;
    padding: .8em;
    border-radius: .7em;
    background-color: $dark-green;
    color: white;
    width: 60%;
    margin: 1em auto;
    @include respond-to(lg){
        &:hover{
            background-color: $green;
        }
    }
    @include respond-to(xs){
        font-size: 110%;
        text-align: center;
        width:100%;
    }
}

p{
    text-align: left;
    margin: 0 auto 2em;
    display: block;
    width: 90%;
    @include respond-to(xs){
        font-size: 90%;
        width:100%;
    }
}

.bigger{
    font-size: 120%;
    width:90%;
    @include respond-to(xs){
        width: 100%;
        font-size: 90%;
    }
}

.smaller{
    border-style: dotted;
    border-width: 0 0 0 1px;
    border-color: $gray4;
    padding: 0 0 0 .5em;
    font-size: 88%;
    width:75%;
    line-height: 30px;
    @include respond-to(xs){
        font-size: 75%;
        width: 90%;
    }
}

.statement-comment{
    font-size: 88%;
    width:60%;
    line-height: 30px;
    margin-top: -3em;
    text-align: center;
    @include respond-to(xs){
        margin-top: -2em;
        font-size: 75%;
        width:90%;
        text-align: left;
        line-height: 18px;
        font-weight: 300;
    }
}

.statement{
    width:80%;
    padding: .8em;
    border-width: 1px 0px;
    border-style: dotted;
    border-color: $gray4;
    font-size: 160%;
    font-weight: 300;
    line-height: 1.2em;
    text-align: center;
    .point{
        line-height: 1.8em;
        margin-bottom: 0.5em;
    }
    @include respond-to(xs){
        width:100%;
        font-size: 110%;
        text-align: left;
        padding: .8em 0;
        .point{
            line-height: 1.2em;
            margin-bottom: 0.5em;
        }
    }
}

div.statement{
    margin:auto;
}

strong{
    font-weight: 600;
    //text-decoration: underline;
}

