@charset "UTF-8";
/*  EXAMPLE
.block {
  float: left;
  width: 250px;
  @include respond-to(handhelds) { width: 100% ;}
  @include respond-to(medium-screens) { width: 125px; }
  @include respond-to(wide-screens) { float: none; }
}​ */
.color-blue {
  color: #08c; }

.color-cyan {
  color: #0cbeb2; }

.color-green {
  color: #55d426; }

.color-yellow {
  color: #ff9800; }

.color-orange {
  color: #ff9800; }

.color-red {
  color: #ff4e2b; }

.color-magenta {
  color: #b652bf; }

.color-dark-blue {
  color: #002c87; }

.color-dark-cyan {
  color: #00705d; }

.color-dark-green {
  color: #0c9702; }

.color-dark-orange {
  color: #ff7b00; }

.color-dark-yellow {
  color: #ffd900; }

.color-dark-red {
  color: #ff0a02; }

.color-dark-magenta {
  color: #821a8f; }

.color-light-blue {
  color: #acd6e7; }

.color-light-cyan {
  color: #b1e8df; }

.color-light-green {
  color: #c8efb1; }

.color-light-orange {
  color: #ffeaa5; }

.color-light-yellow {
  color: #fff8a9; }

.color-light-red {
  color: #ffc4b3; }

.color-pale-blue {
  color: #d5eaf3; }

.color-light-magenta {
  color: #d294d7; }

.color-pale-cyan {
  color: #d8f3ef; }

.color-pale-green {
  color: #e3f7d8; }

.color-pale-yellow {
  color: #fff4d2; }

.color-pale-yellow {
  color: #fffbd4; }

.color-pale-red {
  color: #ffe1d9; }

.color-pale-magenta {
  color: #e8c9eb; }

.back-color-none {
  background-color: #78a7b4;
  color: white; }

.back-color-blue {
  background-color: #08c;
  color: white; }

.back-color-cyan {
  background-color: #0cbeb2;
  color: white; }

.back-color-green {
  background-color: #55d426;
  color: white; }

.back-color-yellow {
  background-color: #ff9800;
  color: white; }

.back-color-orange {
  background-color: #ff9800;
  color: white; }

.back-color-red {
  background-color: #ff4e2b;
  color: white; }

.back-color-magenta {
  background-color: #b652bf;
  color: white; }

.back-color-dark-blue {
  background-color: #002c87;
  color: white; }

.back-color-dark-cyan {
  background-color: #00705d;
  color: white; }

.back-color-dark-green {
  background-color: #0c9702;
  color: white; }

.back-color-dark-orange {
  background-color: #ff7b00;
  color: white; }

.back-color-dark-yellow {
  background-color: #ffd900;
  color: white; }

.back-color-dark-red {
  background-color: #ff0a02;
  color: white; }

.back-color-dark-magenta {
  background-color: #821a8f;
  color: white; }

.back-color-light-blue {
  background-color: #acd6e7;
  color: white; }

.back-color-light-cyan {
  background-color: #b1e8df;
  color: white; }

.back-color-light-green {
  background-color: #c8efb1;
  color: white; }

.back-color-light-orange {
  background-color: #ffeaa5;
  color: white; }

.back-color-light-yellow {
  background-color: #fff8a9;
  color: white; }

.back-color-light-red {
  background-color: #ffc4b3;
  color: white; }

.back-color-pale-blue {
  background-color: #d5eaf3;
  color: white; }

.back-color-light-magenta {
  background-color: #d294d7;
  color: white; }

.back-color-pale-cyan {
  background-color: #d8f3ef;
  color: white; }

.back-color-pale-green {
  background-color: #e3f7d8;
  color: white; }

.back-color-pale-orange {
  background-color: #fff4d2;
  color: white; }

.back-color-pale-yellow {
  background-color: #fffbd4;
  color: white; }

.back-color-pale-red {
  background-color: #ffe1d9;
  color: white; }

.back-color-pale-magenta {
  background-color: #e8c9eb;
  color: white; }

body {
  color: #585858;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 60px;
  text-align: center;
  max-width: 1200px;
  background-image: url("../images/newback.jpg");
  background-position: -240px 0;
  background-size: 200%;
  margin: auto; }
  @media only screen and (max-width: 767px) {
    body {
      text-align: left; } }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#reel {
  margin-bottom: 1em; }

#hero {
  height: 720px;
  background-color: gray;
  padding: 12% 1em 0;
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-size: 100%; }
  #hero h1 {
    color: white;
    font-weight: bold;
    font-size: 300%;
    text-align: center;
    text-shadow: 4px 4px 4px black; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    #hero {
      height: 580px; }
      #hero h1 {
        font-size: 250%; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    #hero {
      height: 420px; }
      #hero h1 {
        font-size: 200%; } }
  @media only screen and (max-width: 767px) {
    #hero {
      background-size: auto;
      height: 400px; }
      #hero h1 {
        font-size: 160%; } }

p.subheader {
  font-size: 120%;
  text-align: center;
  color: white;
  line-height: 24px;
  text-shadow: 2px 2px 2px black; }
  @media only screen and (min-width: 1200px) {
    p.subheader {
      font-size: 160%;
      text-shadow: 4px 4px 2px black; } }

h2 {
  font-size: 220%;
  display: block;
  margin-bottom: 1em;
  margin-top: 1em; }
  @media only screen and (max-width: 767px) {
    h2 {
      font-size: 120%;
      text-align: left;
      font-weight: 600; } }

.slide {
  background-color: #f8f8f8;
  padding: 2em 5em 4em;
  border-width: 0 0 2px 0;
  border-color: #c6c6c6;
  border-style: solid; }
  @media only screen and (max-width: 767px) {
    .slide {
      padding: 1em 1em 2em; } }

.slide-odd {
  background-color: #f8f8f8; }

.slide-even {
  background-color: #efefef; }

.btn-contact {
  font-size: 220%;
  text-decoration: none;
  display: block;
  padding: .8em;
  border-radius: .7em;
  background-color: #0c9702;
  color: white;
  width: 60%;
  margin: 1em auto; }
  @media only screen and (min-width: 1200px) {
    .btn-contact:hover {
      background-color: #55d426; } }
  @media only screen and (max-width: 767px) {
    .btn-contact {
      font-size: 110%;
      text-align: center;
      width: 100%; } }

p {
  text-align: left;
  margin: 0 auto 2em;
  display: block;
  width: 90%; }
  @media only screen and (max-width: 767px) {
    p {
      font-size: 90%;
      width: 100%; } }

.bigger {
  font-size: 120%;
  width: 90%; }
  @media only screen and (max-width: 767px) {
    .bigger {
      width: 100%;
      font-size: 90%; } }

.smaller {
  border-style: dotted;
  border-width: 0 0 0 1px;
  border-color: #c6c6c6;
  padding: 0 0 0 .5em;
  font-size: 88%;
  width: 75%;
  line-height: 30px; }
  @media only screen and (max-width: 767px) {
    .smaller {
      font-size: 75%;
      width: 90%; } }

.statement-comment {
  font-size: 88%;
  width: 60%;
  line-height: 30px;
  margin-top: -3em;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .statement-comment {
      margin-top: -2em;
      font-size: 75%;
      width: 90%;
      text-align: left;
      line-height: 18px;
      font-weight: 300; } }

.statement {
  width: 80%;
  padding: .8em;
  border-width: 1px 0px;
  border-style: dotted;
  border-color: #c6c6c6;
  font-size: 160%;
  font-weight: 300;
  line-height: 1.2em;
  text-align: center; }
  .statement .point {
    line-height: 1.8em;
    margin-bottom: 0.5em; }
  @media only screen and (max-width: 767px) {
    .statement {
      width: 100%;
      font-size: 110%;
      text-align: left;
      padding: .8em 0; }
      .statement .point {
        line-height: 1.2em;
        margin-bottom: 0.5em; } }

div.statement {
  margin: auto; }

strong {
  font-weight: 600; }

/*# sourceMappingURL=../../../../../../../../static/scss/landing.css.map */