{% load staticfiles %}

{% load sass_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&subset=latin,cyrillic'
            rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% sass_src 'scss/base.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'scss/common.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'scss/blog.scss' %}" rel="stylesheet" type="text/css" />
    
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12 page">
    <p>
        Поиск билетов отнимает много времени. Мы это прекрасно знаем. Предложения меняются по нескольку раз в день. Цены на соседние даты могут отличаться в разы. Уследить за всеми интересными вариантами невозможно. Цены, авиакомпании, стыковки — всё это буквально сводит с ума, если вы ищете варианты для своего путешествия хотя бы несколько дней.
    </p>
    <p>
        Даже если проявить настоичивость и искать самые интересные предложения каждый день, то всё-равно придётся тратить по несколько часов в день, чтобы охватить все интересные направления. Бессмысленная работа для нормального человека!<br/>
        Но не для робота.
    </p>
    <p>
        Для искуственного интеллекта проверить лучшие цены по нескольким сотням направлений, выяснить детали: что за самолет, какая авиакомпания, долгие ли стыковки — дело всего нескольких минут. Проанализировать десятки тысяч предложений, взвесить все за и против, и “выжать” из этого пару десятков действительно лучших вариантов — для уникального алгоритма “Улётных билетов” не составляет никакого труда. 
    </p>
    <p>
        Самое лучшее мы регулярно публикуем в социальных сетях. Вам не нужно платить, регистрироваться или оставлять какие-то данные чтобы получить доступ к этой информации. Просто загляните на нашу страничку.
    </p>
    <p>
        Вы знаете, чего вы хотите. Никто не знает лучше вас куда и когда вы хотите полететь. Мы ничего не навязываем, не продаем и не рекламируем.
        Мы просто находим для вас лучшие предложения. 
        Каждый день.
    </p>

</div>
    </div>
</div>

    


</body>
</html>