{% extends 'noodle/base.html' %}

{% load staticfiles %}

{% load sass_tags %}

{% block head %}
    <link href="{% sass_src 'scss/gallery.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div id="main">
        <div id="p1" class="photo h-photo"><img src="{% static 'images/galleries/cambo_bw/1.jpg' %}" /></div>
        <div id="p2" class="photo v-photo"><img src="{% static 'images/galleries/cambo_bw/KTZ_4426.jpg' %}" /></div>
        <div id="p3" class="photo h-photo"><img src="{% static 'images/galleries/cambo_bw/2.jpg' %}" /></div>
        <div id="p4" class="photo h-photo"><img src="{% static 'images/galleries/cambo_bw/3.jpg' %}" /></div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/gallery.js' %}"></script>
{% endblock %}

