{% extends 'noodle/base.html' %}

{% load staticfiles %}

{% load sass_tags %}

{% block head %}
    <link href="{% sass_src 'scss/gallery.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}<a href="/">< Назад</a>{% endblock %}
{% block content %}
    <div id="gallery">
        <div id="g1p1" class="photo h-photo p1"><img src="{% static 'images/galleries/cambo_bw/1.jpg' %}" /></div>
        <div id="g1p2" class="photo v-photo p2"><img src="{% static 'images/galleries/cambo_bw/KTZ_4426.jpg' %}" /></div>
        <div id="g1p3" class="photo h-photo p3"><img src="{% static 'images/galleries/cambo_bw/2.jpg' %}" /></div>
        <div id="g1p4" class="photo h-photo p4"><img src="{% static 'images/galleries/cambo_bw/3.jpg' %}" /></div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/gallery.js' %}"></script>
{% endblock %}

