{% load staticfiles %}

{% load sass_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Индивидуальное обучение Photoshop</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&subset=latin,cyrillic'
            rel='stylesheet' type='text/css'>
            
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% sass_src 'scss/common.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'scss/landing.scss' %}" rel="stylesheet" type="text/css" />
    {% block head %}
        {% include 'noodle/ymc.html' %}
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            {% include 'noodle/ymc.html' %}
            <div id="hero">
                <h1>Самый эффективный способ освоить Photoshop</h1>
                <p class="subheader">индивидуальные уроки с&nbsp;профессионалом</p>
            </div>
            <div class="slide slide-text slide-even">
                <h2>Преимущества индивидуального обучения</h2>
                <div class="statement">
                    <div class="point">Вы получаете сразу то, что вам нужно</div>
                    <div class="point">Вы экономите собственное время</div>
                    <div class="point">Вы сами строите свой график обучения</div>
                </div>
            </div>
            <div class="slide slide-text slide-odd">

                <h2>Зачем это нужно?</h2>
                <p class="bigger">
                Вы легко можете найти море информации про фотошоп в YouTube. <br>Но давайте посмотрим на это серьезно. Это море бессистемной информации, созданной неизвестно кем и когда.</p>
                <p class="smaller">Невнятный видеоурок, записанный каким-нибудь тинейджером вряд ли принесет вам пользу, а если вы стремитесь к профессиональной карьере художника или фотографа, это может даже навредить. И, разумеется, никто не будет подбирать вам материал, необходимый конкретно для ваших задач и вашего уровня подготовки.
                </p>

                <h2>Но есть же курсы!</h2>

                <p class="bigger">С платным обучением тоже не все так просто. Большинство авторов всевозможных курсов и учебников точно также никогда не работали в этой области профессионально.</p>

                <p class="smaller">Если вы уже пробовали изучать фотошоп вы наверняка сталкивались с этими невразумительными долгими перечислениями инструментов и пунктов меню. Онлайн вебинары тоже ненамного эффективнее записанного видеоурока — даже в небольшой группе вам трудно будет сделать так, чтобы преподаватель подробнее “разжевал” непонятный для вас момент. Как правило, большинство вопросов от участников проскакивают в чате никем незамеченными.</p>

                <p class="smaller">
                Все это не имеет никакого отношения к реальному обучению. Чтобы уверенно пользоваться фотошопом вы должны понимать как именно добиться нужного эффекта, на какие моменты обратить внимание, и само собой, понимать общие принципы — что именно делает изображение красивым.
                </p>

                <p class="statement"> Фотошоп — превосходный инструмент, но не более того. Он не сделает красиво за вас. <br>Никакой магии.</p>
                
            </div>

            <div class="slide slide-text slide-even">

                <h2>Учитесь эффективно!</h2>
                <p class="bigger">
                С индивидуальным обучением <strong>эффективность будет в разы выше</strong>.<br/>Вы можете сосредоточиться на важных именно для вас аспектах и техниках. 
                </p>
                <p>Даже за одно двухчасовое занятие абсолютный новичок может получить фундаментальные знания и несколько практических навыков, необходимых для начала работы в с програмой. Если вы цените свое время, не тратьте его на изучение того, что вам пока или вовсе не нужно.
                </p>


                <div><a href="https://goo.gl/forms/5O02FN5Az54vi4ui1" class="btn-contact" onclick="yaCounter25797950.reachGoal ('submit1'); return true;">Записаться!</a></div>
            </div>

            <div  class="slide slide-text slide-odd">

                <h2>Я совсем забыл представиться!</h2>

                <div id="reel" class="videoWrapper">
                    <iframe src="//player.vimeo.com/video/102706148" width="1024" height="576" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
                </div>

                <p class="bigger"> Меня зовут Константин Лапшов, я художник по визуальным эффектам с почти двадцатилетним стажем. За это время я успел поработать над несколькими сотнями проектов в области телевизионной рекламы, кино и интерактивной графики. </p><p class="smaller">Все эти годы фотошоп оставался для меня абсолютно незаменимым инструментом. Поэтому знания, которыми я готов с вами поделиться, <strong>опираются на практический опыт работы над реальными коммерческими проектами</strong>. Всему этому я научился сам, собирая по крупицам необходимую информацию и пытаясь подражать работам ведущих мировых студий, поэтому можете быть уверены, что тема обучения для меня совсем не пустой звук. Более того, я продолжаю активно работать в этой области как специалист. И нужно признать, индивидуальное обучение отнимает много времени и не приносит больших доходов по сравнению с работой художника.
                </p>

            </div>

            <div  class="slide slide-text slide-even">
                <h2>В чём преимущество?</h2>
                <p class="bigger">Мой метод построен на практическом подходе — эффективном решении конкретных задач. В первую очередь вы учитесь конкретным действиям, и уже в дополнение получаете необходимую теорию.
                Это позволяет существенно экономить время при обучении. Более того, ученик отчётливо понимает, что теперь он действительно может решать подобные задачи самостоятельно</p>
                <div class="statement">
                        <div class="point">Никакой теории, оторванной от практики</div>
                        <div class="point">Навыки для <strong>реальной</strong> работы</div>
                        <div class="point">Изучаете то, что вам нужно <strong>сейчас</strong></div>
                </div>
            </div>

            <div  class="slide slide-text slide-odd">

                <h2>Зачем же я это делаю?</h2>

                <p class="bigger">Дело в том, что я работаю над большим авторским курсом, и мне важно досконально понимать с какими проблемами сталкиваются ученики, какие задачи ставят перед собой, какие моменты могут оказаться неочевидны для меня, поэтому, должен сказать:</p>
                <p class="statement">
                    мое предложение по индивидуальному обучению <strong>будет ограничено</strong>
                    временем работы над курсом
                </p>

                <p class="statement-comment">
                Если вам интересно, не тяните, свяжитесь со мной. <br>Я с удовольствием отвечу на все ваши вопросы, связанные с организацией обучения.</p>

                <div><a href="https://goo.gl/forms/5O02FN5Az54vi4ui1" class="btn-contact">Связаться сейчас!</a></div>

            </div>

            <div class="slide slide-text slide-even">
                <h2>Подходит ли это мне?</h2>  
                <p class="statement">Большой плюс индивидуального обучения в том, что оно <strong>рассчитано на любой уровень подготовки</strong>. </p>
                <p class="statement-comment"> Но наибольшую пользу оно принесет конечно-же новичкам и начинающим пользователям. Оно позволит получить надежный фундамент знаний и навыков для дальнейшей работы, а так же сэкономит ваше время на старте.</p>
            </div>

            <div class="slide slide-text slide-odd">
                <h2>Как и где проходят занятия?</h2>  
                <p class="bigger">Занятия проходят в моей студии недалеко от центра Москвы <br>(станция м.Полежаевская или МЦК Зорге). <br>
                </p>
                <p class="bigger">Чай, кофе, печеньки и гарантированная парковка включены. <br>Обычная продолжительность занятия 2 часа (может быть скорректирована по договоренности). С собой достаточно иметь тетрадку и ручку.
                </p>
            </div>

            <div class="slide slide-text slide-odd">
                <div class="statement">
                    Задайте любой вопрос по обучению. <br> Я обязательно вам отвечу!
                </div>
                <a href="https://goo.gl/forms/5O02FN5Az54vi4ui1" class="btn-contact">Задать вопрос</a>


            </div>
        </div>
    </div>
</div>

    
{% block scripts %}

{% endblock %}

</body>
</html>