{% load staticfiles %}

{% load sass_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&subset=latin,cyrillic'
            rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% sass_src 'scss/common.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'scss/landing.scss' %}" rel="stylesheet" type="text/css" />
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div id="hero">
                <!-- <h1>ИНДИВИДУАЛЬНОЕ ОБУЧЕНИЕ<br/>PHOTOSHOP</h1> -->
                <h1>Самый эффективный способ освоить Photoshop</h1>
                <p>индивидуальные “живые” уроки с настоящим профессионалом</p>
            </div>
            <div class="slide slide-text slide-odd">
                <p>
                    <h2>Зачем это нужно?</h2><span class="bigger">
                Вы легко можете найти море информации про фотошоп в YouTube. <br>Но давайте посмотрим на это серьезно. Это море бессистемной информации, созданной неизвестно кем и когда. </span><br><span class="smaller">Невнятный видеоурок, записанный каким-нибудбь тинейджером вряд ли принесет вам пользу, а если вы стремитесь к профессиональной карьере художника или фотографа, это может даже навредить. И, разумеется, никто не будет подбирать вам материал, необходимый конкретно для ваших задач и вашего уровня подготовки.
                </span></p>
                <h2>Но есть же курсы!</h2>
                <p><span class="bigger">С платным обучением тоже не все так просто. Большинство авторов всевозможных курсов и учебников точно также никогда не работали в этой области профессионально.</span><span class="smaller"> <br>Если вы уже пробовали изучать фотошоп вы наверняка сталкивались с этими невразумительными долгими перечислениями инструментов и пунктов меню. Онлайн вебинары тоже ненамного эффективнее записанного видеоурока — даже в небольшой группе вам трудно будет сделать так, чтобы преподаватель подробнее “разжевал” непонятный для вас момент. Как правило, большинство вопросов от участников проскакивают в чате никем незамеченными.</span></p>
                <p class="smaller">
                    Все это не имеет никакого отношения к реальному обучению. Чтобы уверенно пользоваться фотошопом вы должны понимать как именно добиться нужного эффекта, на какие моменты обратить внимание, и само собой, понимать общие принципы — что именно делает изображение красивым.
                    </p><p class="bigger"> Фотошоп — превосходный инструмент, но не более того. Он не сделает красиво за вас. Никакой магии.</p>
                
            </div>
            <div class="slide slide-text slide-even">
                <h2>Учитесь эффективно!</h2>
                С индивидуальным обучением <strong>эффективность будет в разы выше</strong>.<br/>Вы можете сосредоточиться на важных именно для вас аспектах и техниках. Даже за одно двухчасовое занятие абсолютный новичок может получить фундаментальные знания и несколько практических навыков, необходимых для начала работы в с програмой. Если вы цените свое время, не тратьте его на изучение того, что вам пока или вовсе не нужно.
                <div><a href="https://goo.gl/forms/5O02FN5Az54vi4ui1" class="btn-contact">Записаться!</a></div>
            </div>
            <div  class="slide slide-text slide-odd">
                <h2>Я совсем забыл представиться!</h2>
                <div id="reel" class="videoWrapper">
                    <iframe src="//player.vimeo.com/video/102706148" width="1024" height="576" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
                </div>
                <p class="bigger"> Меня зовут Константин Лапшов, я художник по визуальным эффектам с почти двадцатилетним стажем. За это время я успел поработать над несколькими сотнями проектов в области телевизионной рекламы, кино и интерактивной графики. </p><p class="smaller">Все эти годы фотошоп оставался для меня абсолютно незаменимым инструментом. Поэтому знания, которыми я готов с вами поделиться, <strong>опираются на практический опыт работы над реальными коммерческими проектами</strong>. Всему этому я научился сам, собирая по крупицам необходимую информацию и пытаясь подражать работам ведущих мировых студий, поэтому можете быть уверены, что тема обучения для меня совсем не пустой звук. Более того, я продолжаю активно работать в этой области как специалист. И нужно признать, индивидуальное обучение отнимает много времени и не приносит больших доходов по сравнению с работой художника. </p></div>

            <div  class="slide slide-text slide-even"><h2>Зачем же я это делаю?</h2> <p>Дело в том, что я работаю над большим авторским курсом, и мне важно досконально понимать с какими проблемами сталкиваются ученики, какие задачи ставят перед собой, какие моменты могут оказаться неочевидны для меня.</p><p class="bigger"> Поэтому, должен сказать, что <strong>мое предложение по индивидуальному обучению будет ограничено</strong> временем работы над курсом, а также, естественно, моей общей загрузкой.  </p>
                <p class="bigger">
                Если вам интересно, не тяните, свяжитесь со мной. Я с удовольствием отвечу на все ваши вопросы, связанные с организацией обучения.</p>
                <div><a href="https://goo.gl/forms/5O02FN5Az54vi4ui1" class="btn-contact">Связаться сейчас!</a></div>
            </div>
        </div>
    </div>
</div>

    
{% block scripts %}

{% endblock %}

</body>
</html>