{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Константин Лапшов — специалист по визуальным эффектам</title>
    <meta content="http://lapshov.pro" property="og:url">
    <meta content="Константин Лапшов — специалист по визуальным эффектам" property="og:title">
    <meta content="" property="og:description">
    <meta content="website" property="og:type">
    <meta content="images/tild6439-3737-4537-b531-366235303536__10557021_839151546097713_4792425943924230144_o.jpg" property="og:image">
    <meta content="257953674358265" property="fb:app_id">
    <meta content="telephone=no" name="format-detection">
    <link href="http://lapshov.pro/" rel="canonical">
    <link href="images/tildafavicon.ico" rel="shortcut icon" type="image/x-icon"><!-- Assets -->
    <link href="{% static 'css/tilda-grid-3.0.min.css' %}" media="all" rel="stylesheet" type="text/css">
    <link href="{% static 'css/tilda-blocks-2.12.css' %}" media="all" rel="stylesheet" type="text/css"> <!-- ?t=1498413970 -->
    <script src="{% static 'js/jquery-1.10.2.min.js' %}">
    </script>
    <script src="{% static 'js/tilda-scripts-2.8.min.js' %}">
    </script>
    <script src="{% static 'js/tilda-blocks-2.6.js' %}"> /*?t=1498413970*/
    </script>
    <script src="{% static 'js/lazyload-1.3.min.js' %}">
    </script>
    {% include 'noodle/ymc.html' %}
</head>
<body class="t-body" style="margin:0;">
    <!--allrecords-->
    <div class="t-records" data-hook="blocks-collection-content-node" data-tilda-formskey="4e23e1dfb63f11a8560117ed1d03cd93" data-tilda-page-id="863550" data-tilda-project-id="166458" id="allrecords">
        <div class="r" data-animationappear="off" data-record-type="286" id="rec19268792" style="padding-top:0px;padding-bottom:0px;">
            <!-- t266 --><!-- cover -->
            <div class="t-cover" id="recorddiv19268792" style="height:100vh; background-image:url('');">
                <div class="t-cover__carrier" data-content-cover-bg="" data-content-cover-height="100vh" data-content-cover-id="19268792" data-content-cover-parallax="fixed" data-content-video-url-youtube="0cjPLtaWVbs" id="coverCarry19268792" style="height:100vh;"></div>
                <div class="t-cover__filter" style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: -o-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7f000000', endColorstr='#7f000000');"></div>
                <div class="t-container t266__container">
                    <div class="t-width t-width_8 t266__mainblock">
                        <div class="t266 t-align_center">
                            <div class="t-cover__wrapper t-valign_middle" style="height:100vh;">
                                <div class="t266__wrapper" data-hook-content="covercontent">
                                    <div class="t266__uptitle t-uptitle t-uptitle_xs" style="">
                                        СПЕЦИАЛИСТ ПО ВИЗУАЛЬНЫМ ЭФФЕКТАМ
                                    </div>
                                    <div class="t266__title t-title t-title_xl" style="">
                                        КОНСТАНТИН<br>
                                        ЛАПШОВ<br>
                                    </div><a class="t266__play-link" href="javascript:t266showvideo('19268792');">
                                    <div class="t266__play-icon">
                                        <div class="t266__play-icon-body" style="border-color: transparent transparent transparent #000000"></div>
                                        <div class="t266__play-bg" style="background-color:#fff; opacity:1;"></div>
                                    </div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t266__video-container t266__hidden" data-content-popup-video-url-youtube="44eeg1Xgerk">
                    <div class="t266__video-carier"></div><a class="t266__video-bg" href="javascript:t266hidevideo('19268792');" style=";"></a>
                </div><!-- arrow -->
                <div class="t-cover__arrow">
                    <div class="t-cover__arrow-wrapper">
                        <div class="t-cover__arrow_mobile">
                            <svg class="t-cover__arrow-svg" height="18.592px" style="enable-background:new 0 0 38.417 18.592;" viewbox="0 0 38.417 18.592" width="38.417px" x="0px" y="0px">
                            <g>
                                <path d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z"></path>
                            </g></svg>
                        </div>
                    </div>
                </div><!-- arrow -->
            </div>
            <script type="text/javascript">
            $(document).ready(function(){ $("#rec19268792").attr('data-animationappear','off'); $("#rec19268792").css('opacity','1');
            });
            </script>
        </div>
        <div class="r" data-record-type="22" id="rec23893676" style="padding-top:45px;padding-bottom:30px;">
            <!-- T005A -->
            <div class="t005A">
                <div class="t-container">
                    <div class="t-row">
                        <div class="t-col t-col_6">
                            <div class="t005A__title t-title t-title_sm">
                                17 лет опыта<br>
                                в визуальных эффектах<br>
                                и компьютерной графике
                            </div>
                            <div class="t005A__text t-text t-text_md">
                                Всю жизнь меня привлекают области где-то на стыке искусства и технологий: фотография и дизайн, электронная музыка и звукорежиссура, компьютерная графика и визуальные эффекты. Последней я уделил без малого 20 лет своей жизни и имел счастье поработать над десятками интереснейших проектов для кино, интерактивных технологий, телевидения и рекламы. Работать с компаниями мирового уровня, такими как Coca-Cola (Nestea, Powerade), Danone, Burger King, Nestle, ВТБ24, L'Oreal (Vichy, Garnier) было для меня большой честью и отличной возможностью отточить мастерство.<br>
                            </div>
                        </div>
                        <div class="t-col t-col_6">
                            <div class="t005A__text t-text t-text_md">
                                Независимо от того будет моя работа на виду, как телевизионные заставки или эффекты в рекламе, или, как это часто бывает, совершенно незаметна для зрителя, я всегда рад возможности поучаствовать в интересном проекте и бросить вызов своим профессиональным навыкам.<br>
                                <br>
                                Я имею большой опыт решенния сложных задач по улучшению видеоматериала: устранение нежелательных элементов из кадра, замена различных элементов (логотипы, упаковка), композитинг (комбинирование) съёмочного и CG материала. Работаю быстро и могу помочь в условиях сжатых сроков.<br>
                                <br>
                                Если у вас возникли вопросы, с удовольствием проконсультирую как до съемки, так и на стадии пост-продакшн.<br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="r" data-record-type="594" id="rec19268818" style="padding-top:0px;padding-bottom:0px;">
            <!-- t594 -->
            <div class="t594">
                <div class="t594__container t-container">
                    <div class="t-col t594__item t594__item_5-in-row">
                        <img class="t594__img t-img" data-original="{% static 'images/tild3435-3565-4636-a333-663031613133__l_cc.png' %}" src="{% static 'images/tild3435-3565-4636-a333-663031613133__-__empty__l_cc.png' %}" style="max-width:160px;">
                    </div>
                    <div class="t-col t594__item t594__item_5-in-row">
                        <img class="t594__img t-img" data-original="{% static 'images/tild3133-6238-4333-b161-306434323764__l_bk.png' %}" src="{% static 'images/tild3133-6238-4333-b161-306434323764__-__empty__l_bk.png' %}" style="max-width:160px;">
                    </div>
                    <div class="t-col t594__item t594__item_5-in-row">
                        <img class="t594__img t-img" data-original="{% static 'images/tild3161-3935-4263-a337-333335393634__l_LO.png' %}" src="{% static 'images/tild3161-3935-4263-a337-333335393634__-__empty__l_LO.png' %}" style="max-width:160px;">
                    </div>
                    <div class="t-col t594__item t594__item_5-in-row">
                        <img class="t594__img t-img" data-original="{% static 'images/tild3635-3338-4130-a339-623430326636__l_n.png' %}" src="{% static 'images/tild3635-3338-4130-a339-623430326636__-__empty__l_n.png' %}" style="max-width:160px;">
                    </div>
                    <div class="t-col t594__item t594__item_5-in-row">
                        <img class="t594__img t-img" data-original="{% static 'images/tild3531-3437-4632-b935-323836336465__l_D.png' %}" src="{% static 'images/tild3531-3437-4632-b935-323836336465__-__empty__l_D.png' %}" style="max-width:160px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="r" data-animationappear="off" data-record-type="232" id="rec23947954" style="">
            <!-- cover -->
            <div class="t-cover" id="recorddiv23947954" style="height:100vh; background-image:url(\'{% static 'images/tild6561-6461-4364-a261-663230643666__-__resize__20x__10557021_839151546097713_4792425943924230144_o.jpg' %} \');">
                <div class="t-cover__carrier" data-content-cover-bg="{% static 'images/tild6561-6461-4364-a261-663230643666__10557021_839151546097713_4792425943924230144_o.jpg' %}" data-content-cover-height="100vh" data-content-cover-id="23947954" data-content-cover-parallax="fixed" id="coverCarry23947954" style="background-image:url('');height:100vh;"></div>
                <div class="t-cover__filter" style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));background-image: -o-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));background-image: linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4c000000', endColorstr='#4c000000');"></div>
                <div class="t203">
                    <div class="t-container">
                        <div class="t-col t-col_8 t-prefix_2">
                            <div class="t-cover__wrapper t-valign_middle" style="height:100vh;">
                                <div data-hook-content="covercontent">
                                    <div class="t203__wrapper">
                                        <div class="t203__textwrapper">
                                            <div class="t203__title t-title t-title_xs">
                                                Обучение Photoshop и AfterEffects
                                            </div>
                                            <div class="t203__text t-text t-text_md">
                                                Отдельным объектом моего интереса всегда была тема обучения. Точнее, самообучения. Так вышло, что всему, что меня интересовало я научился сам. Но это было бы невозможно если бы не сотни замечательных книг, уроков и других ресурсов, которые мне очень помогли. Поэтому я чувствую необходимость поделиться накопленным опытом, и работаю над программой собственного обучающего курса, который, как я надеюсь, поможет начинающим специалистам получить целостный фундамент в работе с визуальными эффектами, ретушью и фотоманипуляциями.<br>
                                                <br>
                                                Если вы заинтересованы в таком курсе, мне была бы очень полезна любая информация о том, чему вы хотели бы научиться, о вашем опыте, проблемах, с которыми вы сталкивались и целях, которые ставите перед собой.<br>
                                                Буду рад, если вы мне напишете<br>
                                                <br>
                                                В данный момент я провожу индивидуальное очное обучение Adobe Photoshop.
                                                Подробности вы можете узнать <a href="/photoshop">здесь</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="r" data-bg-color="#141414" data-record-type="551" id="rec19268824" style="padding-top:135px;padding-bottom:60px;background-color:#141414;">
            <!-- t551-->
            <div class="t551">
                <div class="t-container">
                    <div class="t-col t-col_8 t-prefix_2 t-align_center">
                        <div class="t551__title t-name t-name_xs" data-animate-order="1" style="color:#a8a8a8;">
                            Я ЖИВУ И РАБОТАЮ В МОСКВЕ.<br>
                            ВЫ МОЖЕТЕ СВЯЗАТЬСЯ СО МНОЙ ПО ЛЮБЫМ ИНТЕРЕСУЮЩИМ ВАС ВОПРОСАМ ОТПРАВИВ ПИСЬМО ПО СЛЕДУЮЩЕМУ АДРЕСУ:<br>
                        </div>
                        <div class="t551__contacts t-title t-title_xxs" data-animate-delay="0.3" data-animate-order="2" style="color:#ffffff;">
                            k.lapshov@gmail.com<br>
                            <!-- +7 916 181 8776 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="r" data-animationappear="off" data-bg-color="#0f0f0f" data-record-type="345" id="rec19268826" style="padding-top:0px;padding-bottom:0px;background-color:#0f0f0f;">
            <!-- T345 -->
            <div class="t345" id="footer_19268826">
                <div class="t345-wrapper" style="">
                    <div class="t345-container t-container" style="height:120px;">
                        <div class="t345-col t-col t-col_12">
                            <div class="t345-content">
                                <div class="t345-text__wrapper">
                                    <div class="t345-text t-descr t-descr_xxs" style="color:#ffffff;">
                                        © 2017 Константин Лапшов
                                    </div>
                                </div>
                                <div class="t345-socials">
                                    <div class="t-sociallinks">
                                        <div class="t-sociallinks__wrapper">
                                            <div class="t-sociallinks__item">
                                                <a href="https://www.facebook.com/lapshov" target="_blank"><svg class="t-sociallinks__svg" height="30px" id="Layer_1" version="1.1" viewbox="0 0 48 48" width="30px" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
                                                <desc>
                                                    Facebook
                                                </desc>
                                                <path d="M47.761,24c0,13.121-10.638,23.76-23.758,23.76C10.877,47.76,0.239,37.121,0.239,24c0-13.124,10.638-23.76,23.764-23.76C37.123,0.24,47.761,10.876,47.761,24 M20.033,38.85H26.2V24.01h4.163l0.539-5.242H26.2v-3.083c0-1.156,0.769-1.427,1.308-1.427h3.318V9.168L26.258,9.15c-5.072,0-6.225,3.796-6.225,6.224v3.394H17.1v5.242h2.933V38.85z" style="fill:#ffffff;"></path></svg></a>
                                            </div>
                                            <div class="t-sociallinks__item">
                                                <a href="https://vimeo.com/user2514739" target="_blank"><svg class="t-sociallinks__svg" height="30px" id="Layer_1" version="1.1" viewbox="-455 257 48 48" width="30px" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
                                                <desc>
                                                    Vimeo
                                                </desc>
                                                <path d="M-431,256.971c13.267,0,24.023,10.755,24.023,24.023s-10.755,24.023-24.023,24.023s-24.023-10.755-24.023-24.023S-444.267,256.971-431,256.971z M-443.262,276.117l0.996,1.306c0,0,2.054-1.619,2.739-0.81c0.685,0.81,3.299,10.584,4.171,12.387c0.761,1.581,2.862,3.672,5.166,2.179c2.302-1.493,9.959-8.03,11.329-15.749c1.369-7.717-9.213-6.1-10.335,0.623c2.802-1.682,4.297,0.683,2.863,3.362c-1.431,2.676-2.739,4.421-3.424,4.421c-0.683,0-1.209-1.791-1.992-4.92c-0.81-3.236-0.804-9.064-4.17-8.403C-439.09,271.136-443.262,276.117-443.262,276.117L-443.262,276.117z" style="fill:#ffffff;"></path></svg></a>
                                            </div>
                                            <div class="t-sociallinks__item">
                                                <a href="https://www.youtube.com/channel/UCtmhpjH2-x1CB4Mg87qmsMA" target="_blank"><svg class="t-sociallinks__svg" height="30px" id="Layer_1" version="1.1" viewbox="-455 257 48 48" width="30px" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
                                                <desc>
                                                    Youtube
                                                </desc>
                                                <path d="M-431,257.013c13.248,0,23.987,10.74,23.987,23.987s-10.74,23.987-23.987,23.987s-23.987-10.74-23.987-23.987S-444.248,257.013-431,257.013z M-419.185,275.093c-0.25-1.337-1.363-2.335-2.642-2.458c-3.054-0.196-6.119-0.355-9.178-0.357c-3.059-0.002-6.113,0.154-9.167,0.347c-1.284,0.124-2.397,1.117-2.646,2.459c-0.284,1.933-0.426,3.885-0.426,5.836s0.142,3.903,0.426,5.836c0.249,1.342,1.362,2.454,2.646,2.577c3.055,0.193,6.107,0.39,9.167,0.39c3.058,0,6.126-0.172,9.178-0.37c1.279-0.124,2.392-1.269,2.642-2.606c0.286-1.93,0.429-3.879,0.429-5.828C-418.756,278.971-418.899,277.023-419.185,275.093zM-433.776,284.435v-7.115l6.627,3.558L-433.776,284.435z" style="fill:#ffffff;"></path></svg></a>
                                            </div>
                                            <div class="t-sociallinks__item">
                                                <a href="https://www.instagram.com/noodlesen/" target="_blank"><svg class="t-sociallinks__svg" height="30px" id="Layer_1" version="1.1" viewbox="0 0 30 30" width="30px" xmlns="http://www.w3.org/2000/svg">
                                                <desc>
                                                    Instagram
                                                </desc>
                                                <path d="M15,11.014 C12.801,11.014 11.015,12.797 11.015,15 C11.015,17.202 12.802,18.987 15,18.987 C17.199,18.987 18.987,17.202 18.987,15 C18.987,12.797 17.199,11.014 15,11.014 L15,11.014 Z M15,17.606 C13.556,17.606 12.393,16.439 12.393,15 C12.393,13.561 13.556,12.394 15,12.394 C16.429,12.394 17.607,13.561 17.607,15 C17.607,16.439 16.444,17.606 15,17.606 L15,17.606 Z" style="fill:#ffffff;"></path>
                                                <path d="M19.385,9.556 C18.872,9.556 18.465,9.964 18.465,10.477 C18.465,10.989 18.872,11.396 19.385,11.396 C19.898,11.396 20.306,10.989 20.306,10.477 C20.306,9.964 19.897,9.556 19.385,9.556 L19.385,9.556 Z" style="fill:#ffffff;"></path>
                                                <path d="M15.002,0.15 C6.798,0.15 0.149,6.797 0.149,15 C0.149,23.201 6.798,29.85 15.002,29.85 C23.201,29.85 29.852,23.202 29.852,15 C29.852,6.797 23.201,0.15 15.002,0.15 L15.002,0.15 Z M22.666,18.265 C22.666,20.688 20.687,22.666 18.25,22.666 L11.75,22.666 C9.312,22.666 7.333,20.687 7.333,18.28 L7.333,11.734 C7.333,9.312 9.311,7.334 11.75,7.334 L18.25,7.334 C20.688,7.334 22.666,9.312 22.666,11.734 L22.666,18.265 L22.666,18.265 Z" style="fill:#ffffff;"></path></svg></a>
                                            </div>
                                            <div class="t-sociallinks__item">
                                                <a href="https://ru.pinterest.com/kostikzzz/" target="_blank"><svg class="t-sociallinks__svg" height="30px" id="Layer_1" version="1.1" viewbox="-455 257 48 48" width="30px" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
                                                <desc>
                                                    Pinterest
                                                </desc>
                                                <path d="M-407,281c0,13.254-10.746,24-23.999,24c-13.257,0-24.003-10.746-24.003-24c0-13.256,10.746-24,24.003-24C-417.746,257-407,267.744-407,281z M-437.628,295.811c0.027,0.205,0.29,0.254,0.409,0.1c0.17-0.223,2.365-2.932,3.111-5.639c0.211-0.768,1.212-4.738,1.212-4.738c0.599,1.145,2.349,2.148,4.21,2.148c5.539,0,9.297-5.049,9.297-11.809c0-5.111-4.329-9.873-10.909-9.873c-8.186,0-12.314,5.871-12.314,10.766c0,2.963,1.122,5.6,3.527,6.582c0.395,0.162,0.749,0.006,0.863-0.43c0.08-0.303,0.268-1.065,0.353-1.385c0.114-0.432,0.07-0.582-0.248-0.959c-0.694-0.818-1.138-1.879-1.138-3.381c0-4.353,3.259-8.252,8.484-8.252c4.627,0,7.169,2.828,7.169,6.603c0,4.969-2.198,9.162-5.461,9.162c-1.804,0-3.153-1.49-2.722-3.32c0.518-2.182,1.522-4.537,1.522-6.113c0-1.41-0.758-2.588-2.324-2.588c-1.843,0-3.323,1.908-3.323,4.461c0,1.627,0.55,2.727,0.55,2.727s-1.886,7.99-2.217,9.391C-438.234,292.051-437.676,295.467-437.628,295.811z" style="fill:#ffffff;"></path></svg></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
            function checkSize_19268826(){ var content = $("#footer_19268826 .t345-text").width() + $("#footer_19268826 .t345-socials").width(); var container = $("#footer_19268826 .t345-container").width() - 30; if (content > container ) { $("#footer_19268826 .t345-container").addClass('t345-socials_block'); } else { $("#footer_19268826 .t345-container").removeClass('t345-socials_block'); } } $(document).ready(function() { checkSize_19268826(); $(window).resize(checkSize_19268826); });
            </script>
        </div>
        <div class="r" data-record-type="270" id="rec19268828" style="">
            <div class="t270"></div>
            <script type="text/javascript">
            $(document).ready(function(){ setTimeout(function(){ var $root = $('html, body'); $('a[href*=#]:not([href=#],.carousel-control,.t-carousel__control,[href^=#price],[href^=#popup])').click(function() { var target = $(this.hash); if (target.length == 0){ target = $('a[name="' + this.hash.substr(1) + '"]'); } if (target.length == 0){ return true; } $root.animate({ scrollTop: target.offset().top + 3 }, 500); return false; }); }, 500); });
            </script>
        </div>
    </div><!--/allrecords--><!-- Tilda copyright. Don't remove this line -->
    <div class="t-tildalabel" data-tilda-sign="166458#863550" id="tildacopy">
        <a class="t-tildalabel__link" href="https://tilda.cc/?upm=166458">
        <div class="t-tildalabel__wrapper">
            <div class="t-tildalabel__txtleft">
                Made on
            </div>
            <div class="t-tildalabel__wrapimg">
                <img class="t-tildalabel__img" src="{% static 'images/tildacopy.png' %}">
            </div>
            <div class="t-tildalabel__txtright">
                Tilda
            </div>
        </div></a>
    </div><!-- Stat -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-56589716-2', 'auto', {'name': 'tilda'}); ga('tilda.send', 'pageview'); if (! window.mainTracker) { window.mainTracker = 'tilda'; }
    </script>
</body>
</html>